$color-primary:#E0752F;
$color-secundary:#FFFFFF;
$color-text-secundary:#343434;
$color-text-primary:#FFFFFF;
$color-gray:#DCE1DA;
$color-control:#5F6368;
$color-light-gray:#F2F4F1;
$color-slider:#E3E3E3;