@import "_colours";
@import "_mixin";
@import "_font";
@import "header";

.principal{
    width: 100%;
    min-height: 100vh;
    background: transparent url(/image/image/slider-1.png) 100% ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .principal__navbar{
        width: 100%;
        height: 6em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-primary;
        .principal__navbar__logo{
            img{
                margin-left: 101px;
            }
        }
        .principal__navbar__links{
            display: flex;
            gap: 1.25rem;
            align-items: center;
            flex-wrap: wrap;
            margin-right: 6.3125rem;
            a{
                font-size: 1rem;
                color:$color-secundary;
                font-family:$font-primary;
                text-decoration: none;
                
            }
        }
        
    }
    .principal__section{
        display: flex;
        flex-direction: column;
        margin-left: 101px;
        gap: 15px;
        .principal__section__text{
            margin-top: 158px;
            display: flex;
            flex-direction: column;
            gap: 15px;
             h1{
                 color: $color-secundary;
                 font-size: 3rem;
                 font-family: $font-secundary;
                 max-width: 600px;
                 
                 
            }
            p{
                font-family: $font-secundary;
                width: 353px;
                color: $color-secundary;
               
            }
        } 
        .principal__section__button{
            margin-top: 3rem;
            margin-bottom: 2rem;
            .button{
                border: none;
                text-align: center;
                background-color: $color-primary;
                color: $color-text-primary;
                width: 144px;
                height: 48px;
                font-size: 16px;
                font-family: $font-primary;
                margin-bottom:39px;
                border-radius: 25px;
                }
        }
    }

}
.main{
    display: block;
    background-color: $color-secundary;
}
.main__container1{
    width: 100%;
    height: 42rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(224,117,47);
    background: linear-gradient(90deg, rgba(224,117,47,1) 2%, rgba(255,255,255,1) 2%);
    .main__container1__text{
        display: flex;
        flex-direction: column;
        gap: 15px;
        .main__container1__title{
            h2{
                font-family: $font-secundary;
                font-size: 2.43em;
                color:$color-text-secundary;
            }
            span{
                font-size: 2.43rem;
                color:$color-primary;
            }
        }
        .main__container1__p{
            max-width:48rem;
            height: 12.3125rem;
            p{
                width: 48rem;
                font-family: $font-primary;
                
                letter-spacing:$letter-spacing;
                line-height: $line-height;
                color: $color-text-secundary;

            }

            
        }
    

    }
}

.control__icon{
    display: flex;
    .boton{
        display: flex;
        align-items: flex-end;


    }

}

.main__container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 672px;
    background: linear-gradient(90deg, rgba(242,244,241,1) 80%, rgba(220,225,218,1) 80%);
    .main__container2__center{
        // background-color: #000;
        background: url(/image/image/section3-image.png) no-repeat center;
        display: flex;
        flex-direction: column-reverse;
        min-width: 60.375rem;
        min-height: 22rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .main__container2__center__content{
            margin-top: 15.625rem;
            background: $color-primary 0% 0% no-repeat padding-box;
            width: 30.6875rem;
            height: 19rem;
            background-color: $color-primary;
            h3{
                margin-top: 4.25rem;
                margin-left: 3.125rem;
                font-size: 1rem;
                letter-spacing: 0.2208px;
                color:$color-text-primary;
                font-family: $font-secundary; 
            }
            span{
                margin-top: 4.25rem;
                margin-left: 3.125rem;
                color: $color-text-primary;
                font-family: $font-secundary;
                font-size: 2.4375rem;            
            }
            p{
                margin-top: 1.75rem;
                margin-left: 3.125rem;
                color: $color-text-primary;
                font-family: $font-primary;
                font-size: 1rem;
                letter-spacing: 0.2208px;
            }
    
    
        }
    
    
    
    }
}

.main__container3{
    display: flex;
    background:url(/image/image/section4-image.png) no-repeat right;
    width: 100%;
    height: 768px;
    .main__container3__accordion{
        margin-top: 144px;
        margin-left: 101px;
        width: 669px;
    }
}

.main__container4{
    width: 100%;
    height: 768px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgb(242,244,241);
    background: linear-gradient(90deg, rgba(242,244,241,1) 80%, rgba(220,225,218,1) 80%);
    background-position: right;
    .main__container4__text{
        margin-top: 120px;
        margin-left: 101px;
        width: 50%;
        h4{
            font-size: 39px;
            font-family: $font-secundary;
            color: $color-text-secundary;
        }
        span{
            font-size: 39px;
            font-family: $font-secundary;
            color: $color-primary;
        }
    }
    .main__container4__content{
        display: flex;

        justify-content: flex-start;
        background: url(/image/image/contact-image@2x.png) no-repeat;
        background-position-x: 42rem;
        background-size: 33rem;
        .main__container4__form{
            margin-left: 6.3125rem;
            width: 29.375rem;
        }
        .button{
            border: none;
            text-align: center;
            background-color: $color-primary;
            color: $color-text-primary;
            width: 144px;
            height: 48px;
            font-size: 16px;
            font-family: $font-primary;
            margin-bottom:39px;
            border-radius: 25px;
            }
    }
}

.footer{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #343434;
    width: 100%;
    height: 96px;
    
    .footer__text{
        margin-left: 101px;
        align-items: center;
        p{
            font-size: 1em;
            letter-spacing: 0.22px;
            color: $color-secundary;
        }
    }
    .footer__logo{
        display: flex;
        img{
            margin-right: 101px;
        }
    }
}